.title-advantages {
    font-family: var(--main-font);
    color: var(--gl-color);
    font-weight: 700;
    font-size: 38px;
    line-height: 76px;
    text-align: center;
    margin-top: 57px;
}

.text-advantages {
    font-family: var(--main-font);
    color: var(--gl-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    margin-top: 16px;
}

.advantages-container {
    display: flex;
    margin-top: 77px;
    justify-content: center;
}

.block-advantages {
    display: flex;
    flex-direction: column;
}
.first-advantage {
    width: 420px;
    height: 536px;
    border-radius: 30px;
    background: var(--linear-gradient);
}

.ellipse {
    width: 141px;
    height: 141px;
    background: var(--text-color);
    border-radius: 50%;
    margin: 74px 0 0 140px;
}

.icon {
   padding: 37px 0 0 40px;
}

.advantage-h {
    font-family: var(--main-font);
    color: var(--gl-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    padding-top: 53px;
    text-align: center;
}

.advantage-p {
    font-family: var(--main-font);
    color: var(--gl-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    padding-top: 69px;
    text-align: center;
}

.second-advantage {
    width: 420px;
    height: 689px;
    border-radius: 30px;
    background: var(--linear-gradient);
    margin-left: 20px;
}

.third-advantage {
    width: 420px;
    height: 536px;
    border-radius: 30px;
    background: var(--linear-gradient);
    margin-left: 20px;
}

.bottom {
    margin-top: -30px;
}

.advantages-button {
    width: 310px;
    height: 70px;
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    border: none;
    background: var(--bt-color);
    margin: 90px auto 0;
    cursor: pointer;
}

@media(max-width: 768px) {

    .ellipse {
        margin: 74px auto 0;
    }

    .advantages-container {
        flex-direction: column;
        margin: 20px auto;
    }

    .second-advantage {
        margin: 20px 2px 0 0;
    }

    .third-advantage {
        margin: 20px 2px 0 0;
    }
}

@media (max-width: 480px) {
    .advantages-container {
        padding: 20px;
    }

    .first-advantage {
        width: 100%;
    }

    .second-advantage {
        width: 100%;
    }

    .third-advantage {
        width: 100%;
    }

    .advantage-h {
        font-size: 24px;
    }

    .advantage-p {
        font-size: 20px;
        line-height: 30px;
    }

}