.footer-container {
    width: 100%;
    height: 288px;
    background: var(--ct-color);
    margin-top: 380px;
}

.footer-img {
  padding: 86px 0 0 70px;
}

.img-container {
    display: flex;
    margin: -90px 0 0 620px;
}

.facebook {
cursor: pointer;
}

.instagram {
    margin-left: 50px;
    cursor: pointer;
}

.work-shedule-footer {
    float: right;
    margin-top: -50px;
}

.title-contact-footer {
    float: right;
    margin: -35px 70px 0 0;
}

@media (max-width: 768px) {
    .footer-container {
        margin-top: 700px;
       height: 500px;

    }

    .footer-img {
     margin: 0 0 -30px 100px;

    }
    .img-container {
        flex-direction: column;


    }

    .facebook {
        margin: 140px 0 0 -380px;
    }

    .instagram {
        margin: -70px 0 0  -290px;
    }

    .work-shedule-footer {
        position: absolute;
        margin: 10px 0 0 220px ;
        white-space: nowrap;
    }

    .title-contact-footer {
     margin: 100px 0 0 130px ;
        position: absolute;
        white-space: nowrap;

    }

}