.background {
    background-image: url("header-img/gym.png");
    width: 100%;
    height: 915px;
    background-size: cover;
}

.kolizey-img {
    width: 300px;
    height: 116px;
    padding: 17px 0 0 70px;
    cursor: pointer;
}

.header-content {
    display: flex;
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: -60px 0 0 510px;

    p{
        padding-left:30px ;
        cursor: pointer;
    }
}

.work-shedule {
    float: right;
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: -60px 70px 0 0;

    p{
        padding-top: 13px;
    }
}

.p-left {
    margin-left: -3px;
}


@media (max-width: 768px) {

    .kolizey-img {
        display: block;
        margin: auto;
        padding: 0;
    }

    .header-content {
        line-height: 40px;
        margin: auto;
        display: grid;
        text-align: center;
    }

    .work-shedule {
        width: 100%;
        text-align: center;
        margin: auto;
        padding-left: 20px;
    }

    .background {
        background-position: 50% 50%;
        height: 1300px;
    }
}


