.container-text {
    display: flex;
    flex-direction: column;
    margin: 260px 0 0 70px;
}

.title-block {
    display: flex;
    width: 100%;
}

.title-text {
    font-family: var(--main-font);
    color: var(--text-color);
    font-weight: 700;
    font-size: 32px;
    line-height: 64px;
}

.title-p {
    font-family: var(--main-font);
    color: #DFDFDF;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    margin-top: 16px;
}

.title-contact {
    font-family: var(--font);
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-color);
    margin-top: 26px;
}

.title-container {
    width: 419px;
    height: 444px;
    border: 5px solid var(--bt-color);
    display: flex;
    flex-direction: column;
    margin: 160px 0 0 275px;
}

.discount-p {
    font-family: var(--font);
    color: var(--text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    padding-top: 108px;
}

.title-button {
    width: 310px;
    height: 70px;
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    border: none;
    background: var(--bt-color);
    margin: auto;
    cursor: pointer;
}

button:hover {
    background-color: #802e1b;
}

@media (max-width: 768px) {
    .title-block {
        flex-direction: column;
    }

    .container-text {
        margin: 30px auto;
        text-align: center;
    }

    .title-container {
        margin: auto;
    }

    .title-text {
        font-size: 26px;
        line-height: 44px;
    }

    .title-p {
        font-size: 20px;
        line-height: 30px;
    }

    .title-contact {
        font-size: 20px;
        line-height: 20px;
    }
}

@media (max-width: 480px) {
    .title-container {
        width: 100%;
    }

    .title-block {
        padding: 20px;
    }
}



